		<header class="row">
			<div class="col-xs-12 col-sm-2 header-logo-container">
				<a href="/index.html"><div class="header-logo"></div></a>
			</div>
			<div class="col-xs-12 col-sm-10 nav-container">
				<nav>
					<a id="nav-home" href="/index.html">home</a>
					<a id="nav-magic" href="/the-magic-toyshop">the magic toyshop</a>
					<a id="nav-pozible" href="/pozible">pozible</a>
					<a id="nav-lifeally" href="/lifeally">lifeally</a>
					<a id="nav-other" href="/other-work">other work</a>
				</nav>
			</div>
		</header>