// H5BP Defaults //

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

// Styles //

// ----- Variables ----- //

// Colours //
$light-grey:    #eaeded; // grey background
$grey:          #9d9d9d; // header, r.e.l logo
$dark-grey:   	#858585; // grey hex
$darker-grey:  	#3d3e3e; // dark grey hex

$mustard: 		#c5ab55;
$light-blue: 	#d8ecec; // blue background
$blue: 			#afd8d8; // blue hex
$red:			#d57f75;

$copy-grey:		#5e5e5e;

// Fonts //
$font-pt:		'PT Sans', sans-serif;
$font-open:		'Open Sans', sans-serif;
$font-lobster:	'Lobster', cursive;

$light:			300;
$regular:		400;
$semi-bold:		600;
$bold:			700;

// ------- Mixins ------- //

// Bootstrap Breakpoints
@mixin respond-to($media) {
  @if $media == small {
	@media only screen and (min-width: 768px) { @content; }
  }
  @else if $media == medium {
	@media only screen and (min-width: 992px) { @content; }
  }
  @else if $media == large {
	@media only screen and (min-width: 1200px) { @content; }
  }
}

// Vertical Centering
@mixin y-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
@mixin x-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
@mixin xy-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

// ------- Styles ------- //

// Base //

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	width: 100%;
	min-height: 100%;

	font-family: $font-open;
	-webkit-font-smoothing: antialiased;
}

.container-fluid {
	padding: 0;
}

// Typography //

h1 {
	display: block;

	width: 300px;
	margin: 0 auto 6%;
	padding-bottom: 10px;
	border-bottom: 2px solid $mustard;

	font-size: 2.5rem;
	font-family: $font-pt;
	font-weight: $bold;
	font-style: italic;
	text-align: center;
	letter-spacing: 2px;
	color: $mustard;

	strong {
		font-size: 2.3rem;
		font-family: $font-open;
		font-weight: $regular;
		font-style: normal;
		text-transform: uppercase;
		color: $copy-grey;
	}
}

.h2-wrap {
	overflow: hidden;

	.h2-helper {
		width: 100%;

		font-size: 1.6rem;
		font-family: $font-pt;
		font-weight: $bold;
		font-style: italic;
		text-align: left;
		text-transform: none;
		letter-spacing: 2px;
		color: $mustard;

		margin-bottom: 10px;

		border-bottom: 2px solid $mustard;

		@include respond-to('medium') {
			font-size: 2.1rem;
		}

		@include respond-to('large') {
			margin-bottom: 24px;
		}

		&.red-heading {
			color: $red;

			border-bottom: 2px solid $red;
		}
		&.white-heading {
			color: white;

			border-bottom: 2px solid white;
		}
	}

	&.short {
		width: 35%;
	}

	&.short-2 {
		width: 45%;
	}
}

h2 {
	float: none;
	display: block;

	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 3px;

	font-size: 1.6rem;
	font-family: $font-open;
	font-weight: $regular;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: left;
	color: $copy-grey;

	@include respond-to('small') {
		float: left;

		padding-bottom: 4px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	@include respond-to('medium') {
		font-size: 2.1rem;
	}
	@include respond-to('large') {
		padding-bottom: 20px;
	}
}

h3 {
	display: inline-block;

	position: relative;
	width: 100%;
	margin: 30px auto 0;
	padding-bottom: 10px;
	border-bottom: 2px solid $mustard;

	font-size: 2.1rem;
	font-family: $font-open;
	font-weight: $regular;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: $copy-grey;

	.sub {
		position: absolute;
		bottom: -10px;
		transform: translateY(100%);
		display: block;
		width: 100%;

		font-size: 1.8rem;
		font-family: $font-pt;
		font-weight: $bold;
		font-style: italic;
		text-transform: none;
		color: $mustard;
	}
}

h4 {
	display: block;
	padding-bottom: 5px;

	font-size: 1.8rem;
	font-family: $font-open;
	font-weight: $regular;
	font-style: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;

	color: white;

	border-bottom: 2px solid white;

	@include respond-to('medium') {
		font-size: 2.1rem;
		letter-spacing: 2px;
	}
}

h5 {
	position: relative;
	display: block;

	margin-bottom: 20px;

	font-size: 2.1rem;
	font-family: $font-open;
	font-weight: $semi-bold;
	font-style: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: white;

	background-color: $copy-grey;

	padding-bottom: 5px;
	border-bottom: 2px solid $red;

	@include respond-to('small') {
		border: none;
		padding-bottom: 0;
	}

	&:before, &:after {
		content: "";

		@include y-center;
		width: 0;
		height: 2px;

		background-color: $mustard;

		@include respond-to('small') {
			width: 18%;
		}

		@include respond-to('medium') {
			width: 25%;
		}

		@include respond-to('large') {
			width: 30%;
		}
	}
	&.red:before, &.red:after {
		background-color: $red;
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}
}

h6 {
	display: inline-block;

	margin-top: 20px;
	margin-bottom: 40px;
	padding: 3px 10% 5px;

	font-size: 2.1rem;
	font-family: $font-open;
	font-weight: $regular;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: $copy-grey;

	border-bottom: 2px solid white;

	strong {
		font-size: 2.1rem;
		font-family: $font-pt;
		font-weight: $bold;
		font-style: italic;
		text-align: left;
		text-transform: none;
		letter-spacing: 2px;
		color: white;
	}
}

.h7 {
	display: inline-block;

	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;

	border-bottom: 2px solid $mustard;

	font-size: 2.1rem;
	font-family: $font-pt;
	font-weight: $bold;
	font-style: italic;
	text-align: center;
	text-transform: none;
	letter-spacing: 2px;
	color: $mustard;
}

p {
	margin-top: 0;
	margin-bottom: 10px;

	font-size: 1.6rem;
	font-family: $font-open;
	font-weight: $light;
	font-style: normal;
	text-align: left;
	color: $copy-grey;

	-webkit-font-smoothing: subpixel-antialiased;
}

li {
	margin-top: 0;

	font-size: 1.6rem;
	font-family: $font-open;
	font-weight: $light;
	font-style: normal;
	text-align: left;
	color: $copy-grey;

	-webkit-font-smoothing: subpixel-antialiased;
}


// Header //

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 4;

	width: 100%;
	height: 50px;
	margin-left: 0 !important;
	margin-right: 0 !important;

	background-color: $grey;

	@include respond-to('small') {
		height: 70px;
	}

	.header-logo-container {
		height: 100%;
		padding-left: 40px;

		.header-logo {
			@include y-center;

			width: 80px;
			height: 15px;

			background-image: url('../img/rel-logo.png');
			background-size: contain;

			@include respond-to('small') {
				width: 106px;
				height: 20px;
			}
		}
	}

	.nav-container {
		position: relative;

		height: 100%;

		text-align: right;

		nav {
			display: none;

			@include respond-to('small') {
				display: block;
			}

			@include y-center;
			right: 40px;

			a {
				margin-left: 20px;

				color: white;
				font-size: 1.5rem;
				text-transform: uppercase;
				font-weight: $regular;

				opacity: 1;

				&:hover, &:active {
					text-decoration: none;
					opacity: 0.8
				}
			}
		}
	}
}

// Base Section //

section {
	position: relative;

	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	&.scroll-section:before, &.last-section:before {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		z-index: 2;

		width: 48px;
		height: 48px;

		border-radius: 50%;

		background-color: $grey;
	}
	&.scroll-section:after {
		content: url('../img/svg/section-arrow.svg') !important;

		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 65%);
		z-index: 3;

		width: 19px;
		height: 16px;
	}
	&.last-section:after {
		content: url('../img/svg/section-arrow.svg') !important;

		position: absolute;
		bottom: 0;
		left: 50%;
		transform: 	translate(-50%, 0)
					rotate(180deg);
		z-index: 3;

		width: 14px;
		height: 10px;
	}

	.scroll-button {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		z-index: 4;


		width: 48px;
		height: 48px;
		padding-left: 2px;

		border-radius: 50%;
		cursor: pointer;

		font-family: $font-open;
		font-weight: $regular;
		font-style: normal;
		text-align: center;
		text-transform: uppercase;
		line-height: 62px;
		color: white;

		&:hover {
			text-decoration: none;
		}
	}
}

// Footer //

footer {
	position: relative;
	width: 100%;
	height: 150px;

	background-color: $mustard;

	.text-container {
		@include xy-center;
		transform: translate(-50%,-40%);

		@include respond-to('small') {
			transform: translate(-50%,-50%);
		}

		p {
			display: block;

			position: relative;

			margin: 0 auto 6px;

			font-size: 1.4rem;
			font-family: $font-open;
			font-weight: $regular;
			text-transform: uppercase;
			text-align: center;
			color: white;

			@include respond-to('small') {
				display: inline-block;

				text-align: left;

				margin-right: 11px;
				margin-bottom: 0;
			}

			&:after {
				content: "";

				position: absolute;
				left: 50%;
				bottom: -4px;
				transform: translateX(-50%);

				width: 3px;
				height: 3px;

				border-radius: 50%;

				background-color: white;

				@include respond-to('small') {
					@include y-center;
					right: -9px;
					left: auto;
					bottom: auto;
				}
			}
			&:last-of-type {
				margin-bottom: 0;
			}
			&:last-of-type:after {
				display: none;
			}
		}
	}
}

// Helper Classes //

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}
