#case-study {

	section {

		&.last-section {
			border-bottom: 2px solid $grey;
		}

		.sub-section-heading {
			width: 100%;
			height: 70px;

			background-color: $copy-grey;

			font-size: 2.5rem;
			font-family: $font-open;
			font-weight: $regular;
			font-style: normal;
			text-transform: uppercase;
			text-align: center;
			line-height: 70px;
			letter-spacing: 2px;
			color: #fff;
		}

		.sub-section {
			margin: 0;

			@include respond-to('small') {
				padding: 25px 0 25px 0;
			}

			.container {
				
			}
		}

		.bg-blue {
			background-color: $blue;
		}
		.bg-light-blue {
			background-color: $light-blue;
		}
		.bg-red {
			background-color: $red;
		}
		.bg-grey {
			background-color: $light-grey;
		}
		.bg-dark-grey {
			background-color: $copy-grey;
		}
		.bg-mustard {
			background-color: $mustard;
		}
		.bg-white {
			background-color: #fff;
		}
	}


	#intro {
		padding-top: 50px;

		@include respond-to('small') {
			padding-top: 70px;
		}

		.splash {
			position: relative;
			text-align: center;

			@include respond-to('small') {
					min-height: 470px;
				}

			&.magic {
				height: 320px;
			}
			&.pozible {
				height: 300px;
			}
			&.lifeally {
				height: 240px;
			}

			.splash-image {
				width: 65%;

				@include xy-center;
			}
		}
		.title {
			position: relative;
			text-align: center;

			@include respond-to('small') {
				min-height: 470px;
			}

			&.magic {
				height: 70px;
			}
			&.pozible {
				height: 70px;
			}
			&.lifeally {
				height: 80px;
			}

			.title-img {
				width: 90%;
				@include xy-center;
			}
		}

		.container {
			padding-top: 15px;
			padding-bottom: 15px;

			@include respond-to('small') {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}

		.intro-left, .intro-right, .summary-left, .summary-right {

			@include respond-to('small') {
				padding-left: 60px;
				padding-right: 60px;
			}
		}

		.intro-left, .intro-right {
			p, li {
				color: $darker-grey;
			}
		}

		.divider-left {
			position: relative;

			@include respond-to('small') {
				&:after {
					content: "";

					position: absolute;
					top: 0;
					right: -1px;

					width: 2px;
					height: 100%;

					background-color: white;
				}
			}
		}
		.divider-right {
			position: relative;

			@include respond-to('small') {
				&:after {
					content: "";

					position: absolute;
					top: 0;
					left: -1px;

					width: 2px;
					height: 100%;

					background-color: white;
				}
			}
		}

		.approach {
			font-size: 2.1rem;
			font-family: $font-open;
			font-weight: $light;
			font-style: normal;
			text-align: center;
			letter-spacing: 2px;
			color: white;

			.approach-link {
				position: relative;

				display: inline-block;
				margin-top: 20px;
				margin-bottom: 30px;

				font-size: 1.9rem;
				font-family: $font-open;
				font-weight: $semi-bold;
				font-style: normal;
				text-transform: uppercase;
				text-decoration: underline;
				color: $mustard;

				&.arrow {
					margin-right: 100px;

					&:after {
						content: ">";

						@include y-center;
						right: -65px;

						font-weight: $bold;
						font-size: 2.4rem;
						color: $blue;
					}
				}
				&.red {
					color: $red;
				}
				&:hover {
					color: $grey;
				}
			}
		}
	}
	#research {

		.persona-container {
			padding-left: 20px;
			padding-right: 20px;

			.persona-card {
				width: 100%;
				min-height: 350px;

				padding: 10px;

				background-color: white;

				.persona-thumbnail {
					width: 48%;
					float: left;
				}

				.name-container {
					width: 48%;
					float: right;

					.persona-name {
						width: 100%;
						height: 40px;

						background-color: $blue;

						font-size: 1.7rem;
						font-family: $font-open;
						font-weight: $bold;
						font-style: normal;
						letter-spacing: 2px;
						text-transform: uppercase;
						text-align: center;
						line-height: 44px;
						color: white;
					}
					.persona-quote {
						margin-top: 10px;

						font-size: 1.6rem;
						font-family: $font-pt;
						font-weight: $bold;
						font-style: italic;
						letter-spacing: 1px;
						line-height: 1.2;
						color: $grey;

					}
				}
				.details {
					clear: both;
					padding-top: 10px;

					.heading {
						font-size: 1.3rem;
						font-family: $font-open;
						font-weight: $regular;
						font-style: normal;
						letter-spacing: 1px;
						text-transform: uppercase;
						color: $mustard;
					}
					ul {
						color: $copy-grey;
						padding-left: 20px;

						li {
							color: $copy-grey;
							font-size: 1.3rem;
						}
					}
				}
			}
		}

		.quote {
			display: block;

			margin-bottom: 20px;

			font-size: 1.5rem;
			font-family: $font-pt;
			font-weight: $bold;
			font-style: italic;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-align: left;
			color: $red;
		}

		.pie-chart {
			width: 90%;
		}
		.hypothesis {
			width: 90%;
		}
	}
	#iterative-design {

		overflow: hidden;

		.container {
			position: relative;
			padding: 0;
		}

		.pozible-id-half {
			width: 50%;
			height: 100%;

			position: absolute;
			top: 70px;
			right: 0;
		}

		.id-heading {
			position: relative;

			width: 100%;
			height: 70px;

			background-color: white;
			text-align: center;

			h2 {
				display: inline-block;
				float: none;

				position: absolute;
				@include xy-center;

				margin: 0;
				padding: 0 30px 5px 30px;
				border-bottom: 2px solid $mustard;

				text-align: center;
				color: $mustard;
			}
		}

		.intro {
			padding: 60px 15px 100px;
		}

		.sitemap {
			padding: 30px 60px;
		}

		.userflow {
			padding: 30px 10px;

			text-align: center;

			.userflow-details {
				position: relative;
				display: inline-block;

				width: 90%;
				padding-top: 5px;
				padding-left: 65px;
				margin-bottom: 20px;

				font-size: 1.5rem;
				font-family: $font-pt;
				font-weight: $bold;
				font-style: italic;
				letter-spacing: 1px;
				line-height: 1;
				text-align: left;
				color: $mustard;

				.user-thumbnail {
					position: absolute;
					top: 0;
					left: 0;

					width: 60px;
					height: 60px;
				}
			}
		}
		.id-thumbnail {
			text-align: center;

			color: $red;
			font-family: $font-open;
			font-weight: $semi-bold;
			font-style: normal;
			text-transform: uppercase;
			font-size: 1.3rem;

			margin-bottom: 10px;

			img {
				width: 90%;
			}
		}
		.id-analysis {
			height: 360px;
			margin-bottom: 10px;
		}
	}
	#prototype-development {


		.prototype-left {
			padding: 100px 0 150px;
		}
		.prototype-right {
			text-align: center;
		}

		.lifeally-prototype {
			text-align: center;
		}

		.prototype-thumbnail-container {
			padding: 30px 50px;

			.prototype-thumbnail {
				height: 300px;

				font-family: $font-open;
				font-weight: $regular;
				font-style: normal;
				text-align: center;
				text-transform: uppercase;
				color: $grey;

				img {
					max-height: 270px;
					margin-top: 10px;
				}
			}
		}

		.prototype-link-thumbnail {
			width: 80%;
		}

		.prototype-link {
			display: inline-block;

			position: relative;

			padding: 20px;

			background-color: $grey;

			&.magic {
				width: 75%
			}
			&.pozible, &.lifeally {
				width: 60%;
			}

			.prototype-link-text {
				@include xy-center;

				width: 100%;

				font-size: 1.7rem;
				font-family: $font-open;
				font-weight: $regular;
				font-style: normal;
				text-transform: uppercase;
				letter-spacing: 2px;
				text-decoration: none;
				color: white;
			}

			&.magic:hover {
				background-color: $blue;
			}
			&.pozible:hover {
				background-color: $mustard;
			}
			&.lifeally:hover {
				background-color: $red;
			}
		}

		.lifeally-prototype-thumbnail {
			display: inherit;
			margin: 0 auto;
			width: 70%;
			margin-bottom: 20px;
		}

		.outcome {
			padding: 60px 15px 100px;

			.outcome-item {
				display: block;

				font-size: 1.5rem;
				font-family: $font-pt;
				font-weight: $bold;
				font-style: normal;
				text-align: left;
				letter-spacing: 2px;
				color: black;

				margin-bottom: 10px;

				strong {
					text-transform: uppercase;
					color: white;
				}
			}

			.outcome-copy {
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}
	}
}