#landing {

	section {
		min-height: 90vh;

		border-bottom: 2px solid $grey;

		.container {
			@include xy-center;
			top: 49%;

			height: inherit;

			.row {
				height: inherit;
			}
		}
	}

	// Home //

	#home {
		height: 95vh;
		padding-top: 50px;

		background-color: white;

		@include respond-to('small') {
			padding-top: 70px;
		}
		.home-container {
			position: relative !important;
			top: auto !important;
			left: auto !important;
			transform: none !important;


			height: 100%;
			padding: 0;

			text-align: center;

			.splash-container {
				@include xy-center;
				transform: translate(-50%,-50%) scale(1);

				width: 80%;
				padding-bottom: 80%;

				transition: left 0.2s linear;
				transition-delay: 1.5s;

				@include respond-to('small') {
					width: 30%;
					padding-bottom: 30%;
				}

				&.animate {
					left: 55%;
				}

				.splash-copy-container {
					@include y-center;
					left: -100%;
					z-index: 4;

					width: 100%;
					height: 100%;

					background-color: white;

					transition: left 0.2s linear;
					transition-delay: 1.5s;

					&.animate {
						left: -90%;
					}

					.splash-copy {
						margin-top: 40%;
						margin-right: 3%;

						font-size: 1.7rem;
						font-family: $font-open;
						font-weight: $light;
						font-style: normal;
						text-align: right;
						text-transform: uppercase;
						line-height: 1.7;
						letter-spacing: 2px;
						color: $copy-grey;

						-webkit-font-smoothing: subpixel-antialiased;

						opacity: 0;

						transition: opacity 0.4s linear;
						transition-delay: 3s;

						&.animate {
							opacity: 1;
						}

						strong {
							font-family: $font-pt;
							font-weight: $bold;
							font-style: italic;
							text-transform: none;
							color: $mustard;
						}
					}
				}

				.splash-logo {
					position: absolute;
					top: 2%;
					left: -10%;
					z-index: 4;

					width: 33.33333333%;
					padding-bottom: 33.33333333%;
					text-align: center;

					border-radius: 50%;

					background-color: $grey;

					transform: scale(0);

					transition: transform 0.3s linear;
					transition-delay: 1s;

					&.animate {
						transform: scale(1);
					}

					img {
						width: 70px;
					}

					.letter-container {
						@include xy-center;

						width: 100%;

						p {
							position: relative;

							display: inline-block;

							margin: 0;
							padding: 0;
							margin-right: 19px;

							font-family: $font-open;
							font-weight: $regular;
							font-size: 2.5vh;
							color: white;

							opacity: 0;

							-webkit-font-smoothing: subpixel-antialiased;

							&:last-of-type {
								margin-right: 0;
							}
							&:last-of-type:after {
								display: none;
							}

							&:after {
								content: "";

								display: inline-block;

								position: absolute;
								bottom: 5px;
								right: -14px;

								width: 4px;
								height: 4px;

								border-radius: 50%;

								background-color: $mustard;
							}

							&.one, &.two, &.three {
								transition: opacity 0.3s linear;

								&.animate {
									opacity: 1;
								}
							}
							&.one {
								transition-delay: 2s;
							}
							&.two {
								transition-delay: 2.3s;
							}
							&.three {
								transition-delay: 2.6s;
							}
						}
					}
				}
				.splash-img {
					overflow: hidden;

					@include xy-center;
					transform: translate(-50%,-50%) scale(0);

					width: 100%;
					padding-bottom: 100%;

					border-radius: 50%;

					background-image: url('../img/splash.png');
					background-size: 100% 100%;

					transition: transform 0.3s linear;
					transition-delay: 1s;

					&.animate {
						transform: translate(-50%,-50%) scale(1);
					}

					.splash-img-shade {
						position: absolute;
						top: 0;
						left: 0;

						width: 105%;
						height: 105%;

						background-color: $copy-grey;
						opacity: 0.7;

						transform-origin: center center;

						transform: rotate(45deg) translateX(-105%);

						transition: transform 0.2s linear;
						transition-delay: 1.5s;

						-webkit-backface-visibility: hidden;

						&.animate {
							transform: rotate(45deg) translateX(-55%);
						}
					}
				}
			}
		}
	}

	// UX //

	#ux {
		background-color: $light-grey;

		.ux-cases {
			padding-left: 3%;
			padding-right: 3%;

			text-align: center;

			@include respond-to('small') {

			}
			@include respond-to('medium') {
				height: 355px;
			}
			@include respond-to('large') {
				height: 405px;
			}

			.ux-img {
				position: relative !important;
				overflow: hidden;

				width: 100%;
				padding-bottom: 100%;

				border-radius: 50%;

				background-size: contain;

				cursor: pointer;

				transform: rotate(0.000001deg);

				.ux-img-shade {
					position: absolute;
					top: 0;
					left: 0;

					width: 100%;
					height: 100%;

					background-color: $copy-grey;
					opacity: 0.7;

					transform-origin: center center;

					transition: all 0.1s linear;

					-webkit-backface-visibility: hidden;

					&.shade-one {
						transform: rotate(70deg) translateX(-101%);
					}
					&.shade-two {
						transform: rotate(225deg) translateX(-101%);
					}
					&.shade-three {
						transform: rotate(325deg) translateX(-101%);
					}
				}

				&:hover > .ux-img-shade {

					&.shade-one {
						transform: rotate(70deg) translateX(-50%);
					}
					&.shade-two {
						transform: rotate(225deg) translateX(-50%);
					}
					&.shade-three {
						transform: rotate(325deg) translateX(-50%);
					}
				}

				&.magic {
					background-image: url('../img/ux-magic.png');
				}
				&.pozible {
					background-image: url('../img/ux-pozible.png');
				}
				&.lifeally {
					background-image: url('../img/ux-lifeally.png');
				}
			}
		}
	}

	// About //

	#about {
		background-color: $light-blue;

		.about-section {
			height: 80vh;
			padding: 4%;
			text-align: center;

			p {
				margin-top: 0;
				margin-bottom: 4%;

				font-size: 1.6rem;
				font-family: $font-open;
				font-weight: $light;
				font-style: normal;
				text-align: left;
				color: $copy-grey;

				-webkit-font-smoothing: subpixel-antialiased;
			}

			.resume-link {
				display: inline-block;

				position: relative;

				width: 50%;
				padding-bottom: 8%;

				background-color: $mustard;

				.resume-link-text {
					@include xy-center;

					width: 100%;

					font-size: 1.7rem;
					font-family: $font-open;
					font-weight: $regular;
					font-style: normal;
					text-transform: uppercase;
					letter-spacing: 2px;
					text-decoration: none;
					color: white;
				}

				&:hover {
					background-color: $grey;
				}
			}
		}

		.skills-section {
			position: relative;

			height: 80vh;
			padding: 4%;

			text-align: center;

			.hex-container {
				width: 100%;
				@include xy-center;

				.hex-row {
					&.middle {
						margin: -4.4% 0 -4.4% 0;
					}
					.hex {
						display: inline-block;

						width: 20%;
						margin: 0 0.56%;

						// transform: scale(0);

						// transition: transform 0.2s ease-out;

						// &.one {
						// 	transition-delay: 4s;
						// }
						// &.two {
						// 	transition-delay: 4.1s;
						// }
						// &.three {
						// 	transition-delay: 4.2s;
						// }
						// &.four {
						// 	transition-delay: 4.3s;
						// }
						// &.animate {
						// 	transform: scale(1);
						// }
					}
				}
			}
		}
	}

	// Contact //

	#contact {
		min-height: 75vh;
		background-color: $light-grey;

		.photo-section {
			position: relative;

			height: 65vh;
			padding: 4%;

			text-align: center;

			.contact-photo-wrapper {
				@include xy-center;

				width: 100%;
				min-height: inherit;

				.contact-photo {
					@include xy-center;

					width: 60%;
					padding-bottom: 60%;

					border-radius: 50%;

					background-image: url('../img/contact-pic.png');
					background-size: contain;
				}
			}
		}

		.details-section {
			position: relative;
			height: 65vh;
			padding: 4%;

			text-align: center;

			.contact-wrapper {
				@include xy-center;
				top: 45%;

				width: 80%;

				.contact {
					position: relative;

					width: 100%;
					padding-bottom: 20%;

					border-bottom: 5px solid white;

					&:before {
						content: "";

						display: inline-block;

						@include y-center;
						left: 5%;


						width: 10%;
						padding-bottom: 10%;

						border-radius: 50%;
					}

					&.email:before {
						background-color: $mustard;
						background-image: url('../img/svg/contact-email.svg');
						background-size: contain;
					}
					&.phone:before {
						background-color: $light-blue;
						background-image: url('../img/svg/contact-phone.svg');
						background-size: contain;
					}
					&.linkedin {
						border-bottom: none;
					}
					&.linkedin:before {
						background-color: $dark-grey;
						background-image: url('../img/svg/contact-linkedin.svg');
						background-size: contain;
					}

					.details {
						@include y-center;

						margin-left: 20%;

						font-size: 1.8vh;
						font-family: $font-open;
						font-weight: $regular;
						font-style: normal;
						text-transform: uppercase;
						color: $copy-grey;

						span {
							@include y-center;
							left: 100%;

							width: 400%;

							padding-left: 20px;

							font-size: 2.2vh;
							font-weight: $light;
							text-transform: none;
							text-align: left;

							&:before {
								content: "";

								@include y-center;
								left: 8px;

								width: 3px;
								height: 3px;

								border-radius: 50%;

								background-color: $copy-grey;
										}
						}

						a {
							color: $mustard;
							padding-bottom: 2px;
							border-bottom: 1px solid $mustard;

							&:hover {
								text-decoration: none;
								color: $copy-grey;

								border-bottom: 1px solid $copy-grey;
							}
						}
					}
				}
			}
		}
	}
}