#case-study {

	section {

		&.last-section {
			border-bottom: 2px solid $grey;
		}

		.sub-section-heading {
			width: 100%;
			height: 70px;

			background-color: $copy-grey;

			font-size: 2.5rem;
			font-family: $font-open;
			font-weight: $regular;
			font-style: normal;
			text-transform: uppercase;
			text-align: center;
			line-height: 70px;
			color: #fff;
		}

		.sub-section {
			padding: 25px;

			.container {
				
			}
		}

		.bg-blue {
			background-color: $blue;
		}
		.bg-light-blue {
			background-color: $light-blue;
		}
		.bg-red {
			background-color: $red;
		}
		.bg-grey {
			background-color: $light-grey;
		}
		.bg-dark-grey {
			background-color: $copy-grey;
		}
		.bg-mustard {
			background-color: $mustard;
		}
		.bg-white {
			background-color: #fff;
		}
	}


	#intro {
		padding-top: 50px;

		@include respond-to('small') {
			padding-top: 70px;
		}
	}
	#research {

	}
	#iterative-design {

	}
	#prototype-development {

	}
}